@media screen and (min-width:770px) {
  #phone-nav {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  #i-table,
  #i-title,
  #i-page {
    width: 72%;
  }
  .course-box {
    width: 45%;
  }
  .popup {
    width: 650px;
    height: auto;
    min-height: 330px;
  }
  .protocol {
    width: 700px;
    min-height: 500px;
  }
  .business-item {
    height: 150px;
  }
  .agreement-content {
  }
  .btn-agent {
    min-width: 140px !important;
    min-height: 40px !important;
  }
  .business-item {
    width: 16%;
    padding: 2%;
    max-width: 20%;
    flex-grow: 1;
    margin: 20px 0;
  }
  .sh-phone {
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    z-index: -999 !important;
  }
  .new-footer {
    height: 210px;
    width: 100%;
    background: #fff;
    color: #999999;
    flex-wrap: wrap;
  }
  .agent-body-privilege-warp {
    background: url('http://p70pqu6ys.bkt.clouddn.com/bg02.png') no-repeat;
  }
  .title-img {
    max-height: 75px;
  }
  .cq-right {
    width: 60%;
  }
  .back-title {
    text-indent: 20px;
  }
}

@media screen and (max-width: 769px) {
  .cq-right {
    width: 100%;
  }
  .notice {
    opacity: 0;
  }
  .title-img {
    max-height: 50px;
  }
  .agent-body-privilege-warp {
    background: url('http://p70pqu6ys.bkt.clouddn.com/phone_bg2.png') no-repeat;
  }
  #pc-nav {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  .new-footer {
    height: 200px;
    width: 90%;
    padding: 15px 5%;
    background: #fff;
    color: #999999;
    flex-wrap: wrap;
    background: #333;
  }
  #i-table,
  #i-title,
  #i-page {
    width: 95%;
  }
  .course-box {
    width: 95%;
    left: 50% !important;
    transform: translate(-50%, 0);
  }
  .popup {
    width: 95%;
    height: auto;
    min-height: 330px;
  }
  .logo-class {
    margin-left: -50px;
  }
  .business-item {
    height: 70px;
  }
  .goods-boxA {
    width: 77% !important;
    margin: 20px 0 0 23% !important;
  }
  .agreement-content {
    max-height: 400px;
    overflow-y: scroll !important;
    width: 96% !important;
  }
  .r-i-warp {
    margin: 0 8px 0 0 !important;
  }
  .none-bg {
    transform: translate(-12%, 0);
    width: 100% !important;
  }
  /*  .aib-input-warp{
    width: 100% !important;
  }*/
  .agent-body-privilege-one {
    flex-wrap: wrap !important;
    padding: 0 2% !important;
    justify-content: center !important;
  }
  .abp-item {
    width: 42% !important;
    margin: 5% 3% !important;
    padding-top: 39% !important;
    overflow: hidden;
  }
  .ai-content-info {
    font-size: 8px !important;
  }
  .ai-content-title {
    font-size: 12px !important;
  }
  .btn-agent {
    bottom: 6% !important;
    font-size: 13px !important;
  }
  .agree-label {
    min-width: 0px !important;
    font-size: 13px !important;
    justify-content: flex-end !important;
  }
  .sh-phone {}
  .shpc {
    height: 0 !important;
    width: 0 !important;
    opacity: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    z-index: -999 !important;
  }
  .business-item {
    width: 21%;
    padding: 2%;
    max-width: 21%;
    flex-grow: 1;
    margin: 20px 0;
  }
  .sp-tips {
    margin: 0 20px 0 10px !important;
  }
  .good-item {
    min-width: 100px;
  }
  .rbta-input-warp {
    width: 90% !important;
  }
  .titps-domain {
    margin: 0 auto;
    width: 90% !important;
    line-height: 20px;
  }
  .cb-right {
    width: 95% !important;
  }
  .income-box-item {
    width: 35% !important;
    padding-bottom: 35% !important;
    margin: 10px !important;
  }
  .income-box {
    flex-wrap: wrap;
  }
  .edit-logo {
    min-width: 140px;
    padding-top: 50px !important;
  }
  .edit-content {
    width: 100% !important;
  }
  .edit-box {
    padding-top: 10px !important;
  }
  .btn-zsy {
    width: auto !important;
    font-size: 13px !important;
  }
  .aib-label {
    font-size: 13px !important;
  }
  .secret-list-item {
    width: 98% !important;
  }
  .cbss-item {
    width: 94% !important;
  }
}

@media screen and (min-width:1900px) {
  .btn-agent {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 1700px) and (min-width: 1451px) {
  #main-box {
    width: 50%;
  }
  .main-box {
    transform: translate(30%, 80px) !important;
  }
  #login-box {
    width: 35%;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1101px) {
  #main-box {
    width: 60%;
  }
  .main-box {
    transform: translate(15%, 80px) !important;
  }
  #login-box {
    width: 38%;
  }
}

@media screen and (max-width: 1100px) and (min-width: 771px) {
  #main-box {
    /*   margin-top: 50px;*/
    width: 65%;
  }
  .main-box {
    transform: translate(8%, 80px) !important;
  }
  #login-box {
    width: 55%;
  }
}

@media screen and (max-width: 770px) and (min-width: 451px) {
  #main-box {
    /*   margin: 50px auto;*/
    width: 88%;
    transform: translate(0, 50px);
    margin: 0 auto;
  }
  #login-box {
    transform: translate(0, 50px);
    margin: 0 auto;
    width: 88%;
  }
  #footer-item {
    width: 88%;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  #main-box {
    transform: translate(0, 50px);
    margin: 0 auto;
    width: 95%;
  }
  #login-box {
    transform: translate(0, 50px);
    margin: 0 auto;
    width: 95%;
  }
  #footer-item {
    width: 95%;
    margin: auto;
  }
}

@media screen and (min-width: 1601px) {
  #main-box {
    width: 46%;
  }
}

@media screen and (max-width: 900px) {
  #pc-nav {
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .select-item {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .select-item {
    width: 46%;
  }
}

@media screen and (min-width:1300px) {
  .agent-box {
    width: 35%;
    height: 100%;
    background: #fff;
    transform: translate(105%, 0);
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 1299px) {
  .agent-box {
    width: 0;
    height: 0;
    opacity: 0;
    display: none;
  }
}
