@media screen and (min-width:770px) {
  #phone-nav {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  #main-body {
    min-height: 740px;
    height: auto;
  }
  #i-table,
  #i-title,
  #i-page {
    width: 72%;
  }
  .course-box {
    width: 45%;
  }
  .popup {
    width: 500px;
    height: auto;
    min-height: 330px;
  }
}

@media screen and (max-width: 769px) {
  #pc-nav {
    width: 0;
    height: 0;
    display: none;
    opacity: 0;
  }
  #main-body {
    min-height: 580px;
    height: auto;
  }
  #i-table,
  #i-title,
  #i-page {
    width: 95%;
  }
  .course-box {
    width: 95%;
    left: 50% !important;
    transform: translate(-50%, 0);
  }
  .popup {
    width: 95%;
    height: auto;
    min-height: 330px;
  }
  .logo-class {
    margin-left: -50px;
  }
}

@media screen and (max-width: 1700px) and (min-width: 1451px) {
  #main-box {
    width: 50%;
  }
  #login-box {
    width: 35%;
  }
}

@media screen and (max-width: 1450px) and (min-width: 1001px) {
  #main-box {
    width: 60%;
  }
  #login-box {
    width: 40%;
  }
}

@media screen and (max-width: 1000px) and (min-width: 771px) {
  #main-box {
    margin-top: 50px;
    width: 70%;
  }
  #login-box {
    width: 65%;
  }
}

@media screen and (max-width: 770px) and (min-width: 451px) {
  #main-box {
    margin: 50px auto;
    width: 88%;
  }
  #login-box {
    margin: 50px auto;
    width: 88%;
  }
  #footer-item {
    width: 88%;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  #main-box {
    margin: 40px auto;
    width: 95%;
  }
  #login-box {
    margin: 40px auto;
    width: 95%;
  }
  #footer-item {
    width: 95%;
    margin: auto;
  }
}

@media screen and (min-width: 1601px) {
  #main-box {
    width: 40%;
  }
}

@media screen and (max-width: 900px) {
  #pc-nav {
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  .select-item {
    width: 100%;
  }
}

@media screen and (min-width: 601px) {
  .select-item {
    width: 46%;
  }
}
