.el-select-dropdown__item.selected {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-select .el-input .el-select__caret {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-input__inner {
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.el-select .el-input.is-focus .el-input__inner {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.el-select .el-input__inner:focus {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.el-input__inner:focus {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.el-input__inner:hover {
  border: none !important;
  border-bottom: 1px solid rgba(0, 0, 0, .1) !important;
}

.el-submenu.is-active .el-submenu__title {
  font-size: 16px !important;
  border-bottom: none !important;
}

.is-active .el-submenu__title {
  color: #d94d37 !important;
}

.is-active .agent-ul-li {
  background: #FFD236 !important;
  color: #333;
}

.el-submenu__title {
  font-size: 15px !important;
  font-family: 微软雅黑 !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
}

.el-menu-item {
  font-size: 15px !important;
  font-family: 微软雅黑 !important;
  border-bottom-color: transparent !important;
  border-bottom: none !important;
}


.is-active {
  border-bottom-color: transparent !important;
  border-bottom: none !important;
  font-size: 16px !important;
  color: #d94d37 !important;
}

.el-menu--horizontal {
  border-bottom: none !important;
}

.border-bottom-color {
  display: none !important;
}

.el-pager li.active {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-pagination .el-pager .number:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.number {
  color: #666 !important;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  color: #666 !important;
}

.el-pager li:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-pager li {
  background: none !important;
}

.el-pagination .btn-next,
.el-pagination .btn-prev {
  background: center center no-repeat !important;
}

.el-pagination button.disabled {
  cursor: default !important;
}

.cell {
  width: 100% !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.el-checkbox__inner {
  border: 2px solid rgba(0, 0, 0, .1) !important;
}

.el-checkbox {
  margin-left: 10px !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  background: #ff6b4e !important;
  border-color: #ff6b4e !important;
  background: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-date-table td.today span {
  color: #ff6b4e;
  color: var(--main-color) !important;
}

.el-date-table td.current:not(.disabled) span {
  background-color: #ff6b4e !important;
  background-color: var(--main-color) !important;
}

.available:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

button:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-date-picker__header-label:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.cell:hover {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-year-table td .cell:hover,
.el-year-table td.current:not(.disabled) .cell {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-time-panel__btn.confirm {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-button--text {
  color: #ff6b4e !important;
  color: var(--main-color) !important;
}

.el-picker-panel__footer .is-plain:hover {
  border: 1px solid #ff6b4e !important;
  border: 1px solid var(--main-color) !important;
}

.el-menu--horizontal>.el-menu-item {
  line-height: 62px !important;
}

.el-pagination {
  background: #fff !important;
}

.el-date-editor.el-input,
.el-date-editor.el-input__inner {
  width: 100% !important;
}

.time-select-item.selected:not(.disabled) {
  color: #ff6b4e !important;
}

.el-date-table .el-date-table__row .current span {
  color: #fff !important;
}

.el-input--suffix .el-input__inner {
  padding-right: 0px !important;
}

.el-dialog__wrapper .el-dialog--center {
  min-width: 290px !important;
}

.el-menu--horizontal .el-menu .el-menu-item,
.el-menu--horizontal .el-menu .el-submenu__title {
  padding: 0;
  height: 40px;
  /*justify-content: flex-end;*/
}

.el-menu--collapse .el-menu .el-submenu,
.el-menu--popup {
  min-width: 220px !important;
}

.el-menu-item.is-disabled {
  cursor: pointer !important;
  opacity: 1 !important;
}
.has-gutter .cell{
  font-size: 16px;
  color: #000;
}
.sucess-table .cell{
  color: #fff !important;
}
.el-table__body-wrapper .el-table__body tbody .sucess-table:hover > td{
  background:  #9BCB74 !important;
}