html {
  font-size: 14px;
  min-height: 100%;
  min-width: 1180px;
  user-select: none;
}


body {
  margin: 0;
  padding: 0;
  line-height: 25px;
  min-height: 100%;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
blockquote,
p {
  padding: 0;
  margin: 0;
}

ol,
ul {
  list-style: none;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
  border: 0;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: normal;
}

address,
cite,
code,
em,
th,
i,
var {
  font-weight: normal;
  font-style: normal;
}

a:link,
a:visited {
  color: #000;
  text-decoration: none;
}

input {
  outline: 0;
  outline: none;
}

input:focus::-webkit-contacts-auto-fill-button {
  opacity: 0;
}

.flex{
  width: 100%;
  display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
  display: -moz-box; /* Firefox 17- */
  display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
  display: -moz-flex; /* Firefox 18+ */
  display: -ms-flexbox; /* IE 10 */
  display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-content: center;
}
.fw{
  flex-wrap: wrap;
}
.js{
  justify-content: flex-start;
}
.cur{
  cursor: pointer;
}
.index{
  max-width: 1920px;
  min-height: 1080px;
  height: auto;
  margin: 0 auto;
}
.index-main{
  width: 75%;
  height: auto;
  min-height: 200px;
  margin: 0 auto;
}
.main-title{
  width: 100%;
  height: 100px;
  color: #EB7B2D;
  font-weight: 600;
  font-size: 24px;
}
.layer{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background: rgb(0,0,0,.75);
}
.swiper-box{
  min-width: 1920px;
}
.layer-enter-active, .layer-leave-active{
  transition: opacity .6s;
  opacity: 1;
}
.layer-enter, .layer-leave-to{
  transition: opacity 0s;
  opacity: 0;
}

.audio-warp{
  width: 80%;
  height: 640px;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.audio-warp video{
  width: 100%;
  height: 100%;
}
.kxk-box {
  margin: 90px auto 0;
  width: 30%;
  max-width: 640px;
  min-width: 400px;
  height: auto;
  padding: 0 0 20px;
  min-height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 12px;
  align-items: flex-start;
  align-content: flex-start;
}
.kxk-input{
  width: 80%;
  margin: 10px 10%;
  white-space: nowrap;
}
.kxk-input-title{
  display: block;
  width: 100px;
  text-align: center;
  color: #666;
  font-size: 16px;
  font-weight: 400;
}
.login-btn{
  width: 80%;
  height: 40px;
  border-radius: 100px;
  background: #367abd;
  color: #fff;
  margin-top: 20px;
  font-size: 15px;
  transition: all .3s;
}
.login-btn:hover{
  background: #3362a2;
}
.iconfont{
  margin-right: 5px;
}

.card {
  width: 70%;
  padding: 20px 5%;
  height: 170px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  margin: 15px 0 0 5%;
  border-radius: 6px;
}

.card img {
  width: 200px;
  height: auto;
  max-height: 170px;
}

.card-right {
  padding: 0 5%;
  height: 100%;
  align-content: flex-start;
  align-items: flex-start;
}

.tb-item-right-title {
  font-weight: 600;
  font-size: 20px;
  height: 60px;
  color: rgb(235, 123, 45);
  transition: all .3s;
}

.tb-item-right-title:hover {
  color: #F0A32F;
}

.tb-item-right-info {
  word-break: break-all;
  font-size: 15px;
  height: auto;
  margin-top: 15px;
  line-height: 20px;
}

.tb-item-right-num span {
  width: 0;
  flex-grow: 1;
  color: #999;
  text-indent: 40px;
}
.collection{
  width: 80%;
}
